---

---


body {
  background: #fff;
  color: #fff;
  font-size: 18px;
}

a {
  color: #fff;
}

.text-align-center {
  text-align: center;
}

ul {
  margin: 0;
}


#intro {

  .logo {
    margin: 0 auto;
  }

  .title {
    color: #22505B;
    margin: 0 auto;
    text-align: center;
  }

  .subtitle {
    font-size: 65%;
    font-weight: 400;
  }

  .appstore {
    width: 120px;
    height: auto;
  }

  .playstore {
    width: 120px;
    height: auto;
  }

}

#card1 {

  .taxi {
    margin: 0 auto;
  }

}

#card2 {

  .mobile-device-black {
    float: left;
    z-index: 1;
  }

  .mobile-device-white {
    float: right;
    z-index: 1;
  }

  .info-graphics {
    vertical-align: middle;
  }

  .horizontal-line {
    border-top: 3px dotted white;
    position: absolute;
    left: 97px;
    right: 97px;
    top: 50%;
  }

  .taxi {
    position: absolute;;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

}

#about {

  .members {
    li {
      max-width: 40%;
      min-width: 40%;
      line-height: 0.8;
      margin-top: 5px;
      margin-bottom: 5px;

      li {
        min-width: 0;
        max-width: 100%;
      }
    }
  }

}



/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media (max-width: 374px) {
  .content {
    font-size: 15px;
  }

  .cabbit-app-register-direct {
    width: 185px;
    height: 210px;
    background-size: 185px 210px;
  }

  .cabbit-app-match-partner {
    width: 185px;
    height: 210px;
    background-size: 185px 210px;
  }

  .cabbit-app-payment {
    width: 185px;
    height: 210px;
    background-size: 185px 210px;
  }

}

@media (min-width: 375px) {
  #intro {
    .appstore {
      width: 135px;
    }
    .playstore {
      width: 140px;
    }
  }
}

@media (min-width: 414px) {
  .content {
    font-size: 20px;
  }

  .caption {
    font-size: 0.7em;
  }
}


@media (min-width: 600px) {
  ul.horizontal-inline li {
    display: inline-block;
  }

  #card2 {
    .info-graphics {
      display: inline-block;
      width: 400px;
    }
    .horizontal-line {
      border-top: 5px dotted white;
      left: 121px;
      right: 121px;
    }
  }

  #about {
    .members {
      li {
        min-width: 140px;
        max-width: 140px;
        margin-top: 15px;
        margin-bottom: 15px;

        li {
          min-width: 0;
          max-width: 100%;
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .content {
    font-size: 24px;
  }

  .caption {
    font-size: 0.7em;
  }

  #card2 {
    .info-graphics {
      width: 500px;
    }
  }

}


/* ==========================================================================
Images
========================================================================== */

.logo {
  width: 75px;
  height: 97px;
  background-image: url("../images/Logo.png");
  background-size: 75px 97px;
}

.taxi {
  width: 46px;
  height: 46px;
  background-image: url("../images/Taxi.png");
  background-size: 46px 46px;
}

.mobile-device-black {
  width: 94px;
  height: 164px;
  background-image: url("../images/MobileDeviceBlack.png");
  background-size: 94px 164px;
}

.mobile-device-white {
  width: 92px;
  height: 164px;
  background-image: url("../images/MobileDeviceWhite.png");
  background-size: 92px 164px;
}

.cabbit-app-register-direct {
  width: 210px;
  height: 238px;
  background-image: url("../images/CabbitAppRegisterDirect.png");
  background-size: 210px 238px;
}

.cabbit-app-match-partner {
  width: 210px;
  height: 238px;
  background-image: url("../images/CabbitAppMatchPartner.png");
  background-size: 210px 238px;
}

.cabbit-app-payment {
  width: 210px;
  height: 238px;
  background-image: url("../images/CabbitAppPayment.png");
  background-size: 210px 238px;
}

.kanizsalab-logo {
  width: 50px;
  height: 81px;
  background-image: url("../images/KanizsalabLogo.png");
  background-size: 50px 81px;
}

.profile-jaram {
  width: 58px;
  height: 58px;
  background-image: url("../images/ProfileJaram.png");
  background-size: 58px 58px;
}

.profile-shaun {
  width: 58px;
  height: 58px;
  background-image: url("../images/ProfileShaun.png");
  background-size: 58px 58px;
}

.profile-jesang {
  width: 58px;
  height: 58px;
  background-image: url("../images/ProfileJesang.png");
  background-size: 58px 58px;
}

.profile-seoyoung {
  width: 58px;
  height: 58px;
  background-image: url("../images/ProfileSeoyoung.png");
  background-size: 58px 58px;
}

.profile-jongwon {
  width: 58px;
  height: 58px;
  background-image: url("../images/ProfileJongwon.png");
  background-size: 58px 58px;
}

.profile-won {
  width: 58px;
  height: 58px;
  background-image: url("../images/ProfileWon.png");
  background-size: 58px 58px;
}

.profile-yoon {
  width: 58px;
  height: 58px;
  background-image: url("../images/ProfileYoon.png");
  background-size: 58px 58px;
}

#intro {
  background-image: url("../images/IntroBackground.png");
  background-size: cover;
  background-position: center;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

  .logo {
    background-image: url("../images/Logo@2x.png");
  }

  .taxi {
    background-image: url("../images/Taxi@2x.png");
  }

  .mobile-device-black {
    background-image: url("../images/MobileDeviceBlack@2x.png");
  }

  .mobile-device-white {
    background-image: url("../images/MobileDeviceWhite@2x.png");
  }

  .cabbit-app-register-direct {
    background-image: url("../images/CabbitAppRegisterDirect@2x.png");
  }

  .cabbit-app-match-partner {
    background-image: url("../images/CabbitAppMatchPartner@2x.png");
  }

  .cabbit-app-payment {
    background-image: url("../images/CabbitAppPayment@2x.png");
  }

  .kanizsalab-logo {
    background-image: url("../images/KanizsalabLogo@2x.png");
  }

  .profile-jaram {
    background-image: url("../images/ProfileJaram@2x.png");
  }

  .profile-shaun {
    background-image: url("../images/ProfileShaun@2x.png");
  }

  .profile-jesang {
    background-image: url("../images/ProfileJesang@2x.png");
  }

  .profile-seoyoung {
    background-image: url("../images/ProfileSeoyoung@2x.png");
  }

  .profile-jongwon {
    background-image: url("../images/ProfileJongwon@2x.png");
  }

  .profile-won {
    background-image: url("../images/ProfileWon@2x.png");
  }

  .profile-yoon {
    background-image: url("../images/ProfileYoon@2x.png");
  }

}

@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {

  .logo {
    background-image: url("../images/Logo@3x.png");
  }

  .taxi {
    background-image: url("../images/Taxi@3x.png");
  }

  .mobile-device-black {
    background-image: url("../images/MobileDeviceBlack@3x.png");
  }

  .mobile-device-white {
    background-image: url("../images/MobileDeviceWhite@3x.png");
  }

  .cabbit-app-register-direct {
    background-image: url("../images/CabbitAppRegisterDirect@3x.png");
  }

  .cabbit-app-match-partner {
    background-image: url("../images/CabbitAppMatchPartner@3x.png");
  }

  .cabbit-app-payment {
    background-image: url("../images/CabbitAppPayment@3x.png");
  }

  .kanizsalab-logo {
    background-image: url("../images/KanizsalabLogo@3x.png");
  }

  .profile-jaram {
    background-image: url("../images/ProfileJaram@3x.png");
  }

  .profile-shaun {
    background-image: url("../images/ProfileShaun@3x.png");
  }

  .profile-jesang {
    background-image: url("../images/ProfileJesang@3x.png");
  }

  .profile-seoyoung {
    background-image: url("../images/ProfileSeoyoung@3x.png");
  }

  .profile-jongwon {
    background-image: url("../images/ProfileJongwon@3x.png");
  }

  .profile-won {
    background-image: url("../images/ProfileWon@3x.png");
  }

  .profile-yoon {
    background-image: url("../images/ProfileYoon@3x.png");
  }

}

@media (min-width: 600px) and (-webkit-min-device-pixel-ratio: 1) {
  .logo {
    width: 100px;
    height: 129px;
    background-image: url("../images/Logo~Desktop.png");
    background-size: 100px 129px;
  }

  .taxi {
    width: 70px;
    height: 70px;
    background-image: url("../images/Taxi~Desktop.png");
    background-size: 70px 70px;
  }

  .mobile-device-black {
    width: 120px;
    height: 209px;
    background-image: url("../images/MobileDeviceBlack~Desktop.png");
    background-size: 120px 209px;
  }

  .mobile-device-white {
    width: 120px;
    height: 209px;
    background-image: url("../images/MobileDeviceWhite~Desktop.png");
    background-size: 120px 209px;
  }

  .cabbit-app-register-direct {
    width: 270px;
    height: 306px;
    background-image: url("../images/CabbitAppRegisterDirect~Desktop.png");
    background-size: 270px 306px;
  }

  .cabbit-app-match-partner {
    width: 270px;
    height: 306px;
    background-image: url("../images/CabbitAppMatchPartner~Desktop.png");
    background-size: 270px 306px;
  }

  .cabbit-app-payment {
    width: 270px;
    height: 306px;
    background-image: url("../images/CabbitAppPayment~Desktop.png");
    background-size: 270px 306px;
  }

  .kanizsalab-logo {
    width: 70px;
    height: 113px;
    background-image: url("../images/KanizsalabLogo~Desktop.png");
    background-size: 70px 113px;
  }

  .profile-jaram {
    width: 100px;
    height: 100px;
    background-image: url("../images/ProfileJaram~Desktop.png");
    background-size: 100px 100px;
  }

  .profile-shaun {
    width: 100px;
    height: 100px;
    background-image: url("../images/ProfileShaun~Desktop.png");
    background-size: 100px 100px;
  }

  .profile-jesang {
    width: 100px;
    height: 100px;
    background-image: url("../images/ProfileJesang~Desktop.png");
    background-size: 100px 100px;
  }

  .profile-seoyoung {
    width: 100px;
    height: 100px;
    background-image: url("../images/ProfileSeoyoung~Desktop.png");
    background-size: 100px 100px;
  }

  .profile-jongwon {
    width: 100px;
    height: 100px;
    background-image: url("../images/ProfileJongwon~Desktop.png");
    background-size: 100px 100px;
  }

  .profile-won {
    width: 100px;
    height: 100px;
    background-image: url("../images/ProfileWon~Desktop.png");
    background-size: 100px 100px;
  }

  .profile-yoon {
    width: 100px;
    height: 100px;
    background-image: url("../images/ProfileYoon~Desktop.png");
    background-size: 100px 100px;
  }

}

@media (min-width: 600px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .logo {
    background-image: url("../images/Logo~Desktop@2x.png");
  }

  .taxi {
    background-image: url("../images/Taxi~Desktop@2x.png");
  }

  .mobile-device-black {
    background-image: url("../images/MobileDeviceBlack~Desktop@2x.png");
  }

  .mobile-device-white {
    background-image: url("../images/MobileDeviceWhite~Desktop@2x.png");
  }

  .cabbit-app-register-direct {
    background-image: url("../images/CabbitAppRegisterDirect~Desktop@2x.png");
  }

  .cabbit-app-match-partner {
    background-image: url("../images/CabbitAppMatchPartner~Desktop@2x.png");
  }

  .cabbit-app-payment {
    background-image: url("../images/CabbitAppPayment~Desktop@2x.png");
  }

  .kanizsalab-logo {
    background-image: url("../images/KanizsalabLogo~Desktop@2x.png");
  }

  .profile-jaram {
    background-image: url("../images/ProfileJaram~Desktop@2x.png");
  }

  .profile-shaun {
    background-image: url("../images/ProfileShaun~Desktop@2x.png");
  }

  .profile-jesang {
    background-image: url("../images/ProfileJesang~Desktop@2x.png");
  }

  .profile-seoyoung {
    background-image: url("../images/ProfileSeoyoung~Desktop@2x.png");
  }

  .profile-jongwon {
    background-image: url("../images/ProfileJongwon~Desktop@2x.png");
  }

  .profile-won {
    background-image: url("../images/ProfileWon~Desktop@2x.png");
  }

  .profile-yoon {
    background-image: url("../images/ProfileYoon~Desktop@2x.png");
  }

}
