---
layout: default
section_id: home

slides:
  - bg: images/slide-background.jpg
    title:
      klass: bottom-to-top centered-text
      text: 함께 타고 요금을 나누는<br/>믿을 수 있는 택시 동행 찾기
    buttons:
      klass: bottom-to-top centered-text

about:
  - title: '사람 사이의 따뜻한 연결<br />CONNECTING PEOPLE'
    desc: 택시를 함께 타는 것은 자칫 불편할 수 있는 경험이지만, 동시에 비어있던 그 자리를 우연에 내어주는 설렘의 경험이기도 합니다. 당신이 안심하고 그 설렘을 기대할 수 있도록, 우리는 끊임없이 기술을 개발하고 발전시킵니다.
    icon: connect
  - title: 새로운 사회 편익<br />REDUCING SOCIAL COST
    desc: 뉴욕 택시 여정의 88%가 같은 출발지와 목적지를 오가는 탑승객에 의해 만들어집니다. 이들이 연결될 수만 있었다면 대기 시간은 물론 이동 시간도 단축될 수 있었을 것입니다. 새로운 사회의 편익을 만들어가는 길, 당신과 캐빗이 먼저 걸어갑니다.
    icon: globe
  - title: 지속가능한 환경<br />SUSTAINABLE ENVIRONMENT
    desc: 택시를 타고 10km 거리를 '함께' 이동하면 이산화탄소 발생을 2.0kg 감소시킵니다. 이것은 어린 소나무 0.75그루를 심는 것과 동일한 효과를 갖습니다. 맑은 공기를 만드는 이 여정 속에서 캐빗은 우리와 우리 다음 세대를 위한 고민을 이어갑니다.
    icon: leaf


services:
  - title: STEP 1.<br />출발지/목적지 입력
    desc: 출발지, 도착지, 탑승시각을 입력합니다<br />희망하는 동행자의 성별도 함께 선택합니다
    image: service-step-1
  - title: STEP 2.<br />동행요청
    desc: 추천 리스트 중<br />나와 가장 잘 맞는 사람에게 동행 요청을 합니다
    image: service-step-2
  - title: STEP 3.<br />동행자 만난 후, 역할 선택
    desc: 캐빗 메신저를 통해 동행자를 만나고,<br />결제 역할도 선택합니다
    image: service-step-3
  - title: STEP 4.<br />택시비 결제
    desc: 하차 시 미터기 금액을 각각 앱에 입력하고<br />자동 분배된 택시비를 확인합니다.<br />영수증은 이메일로 발송됩니다.
    image: service-step-4

milestones:
  - icon: users
    from: 0
    to: 1335
    title: 사용자 (명)
  - icon: won
    from: 0
    to: 1235000
    title: 절약된 택시비 (원)
  - icon: tree
    from: 0
    to: 543
    title: 감축된 이산화탄소 (kg)

trust_policies:
  - icon: lock
    title: 데이터 보안<br />Data Security
    desc: 캐빗은 금융업계 최고 수준의 3중 암호화 시스템과 피해보상정책을 도입하여 개인정보를 엄격하게 보호하고 있으며, 신속하고 정확한 고객대응을 위하여 1:1상담센터를 운영하고 있습니다.
  - icon: trust
    title: 신뢰 네트워크<br />Trust Network
    desc: 캐빗은 낯선 사람과 함께 택시를 타야 하는 부담 해소를 위해 인공지능 및 빅데이터 매쉬업 기반의 동행자 추천 알고리즘을 개발하여 안심하고 동행할 수 있는 최적의 여정을 제공합니다.


---


<div class='mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{slide.klass}}'>
          <div class='bg' style='background-image: url({{slide.bg}});'></div>
          <div class='small-title bottom-to-top centered-text'>
            <div class='row'>
              <div class='columns'>
                {% include img.html alt="Logo of Cabbit" name="cabbit-logo" %}
              </div>
            </div>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='spacing'></div>
                <h2>{{ slide.title.text }}</h2>
                <div class='two spacing'></div>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <hr style='width: 40px; margin: 0 auto;'>
                <div class='two spacing'></div>
                <a id='google-play' class='button download' href='{{ site.download.android.url }}' target="_blank">
                  {% include img.html alt="Google Play" name="google-play" %}
                </a>
                <a id='app-store' class='button download' href='{{ site.download.ios.url }}' target="_blank">
                  {% include img.html alt="App Store" name="app-store" %}
                </a>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="four spacing"></div>

<div class="row">
  {% for about in page.about %}
  <div class="medium-4 large-4 columns">
    <div class='fadein mod modIconText' data-delay='{{ 200 | times:forloop.index0 }}'>
      <div class='icon-text-circle'>
        <i class='icon icon-{{ about.icon }}'></i>
        <h3>{{ about.title }}</h3>
        <p>{{ about.desc }}</p>
      </div>
      <div class='two spacing'></div>
    </div>
  </div>
  {% endfor %}
</div>


<div class='full' style="background: #f5f5f5;">
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="처음 만나는 사람과<br />택시를 함께 타는 가장 편안한 방법" tagline="The best way to get to places with people you have just met" tag_color="#9B9B9B" %}
      <div class='three spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for service in page.services %}
      <div class='large-6 medium-6 columns fadein mod centered-text' data-delay='{{ 200 | times:forloop.index0 }}'>
        <div class='icon-text-simple'>
          <h3>{{service.title}}</h3>
          <p>{{service.desc}}</p>
          {% include img.html name=service.image %}
        </div>
        <div class='two spacing'></div>
      </div>
    {% endfor %}
  </div>
  <div class='spacing'></div>
</div>


<!-- <div class='full parallax' style='background-image: url(images/taxi-bg.jpg); color: #fff;'>
  <div class='row'>
    {% for milestone in page.milestones %}
      <div class='medium-4 large-4 columns'>
        <div class='mod modMilestone'>
          <i class='icon icon-{{milestone.icon}}'></i>
          <strong data-from='{{milestone.from}}' data-to='{{milestone.to}}'>&nbsp;</strong>
          <span>{{milestone.title}}</span>
          <div class='four spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='two spacing'></div>
</div> -->


<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="캐빗의 신뢰 정책" tagline="Trust Policy" color="#000" tag_color="#9B9B9B" %}
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      {% for trust in page.trust_policies %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='icon icon-{{trust.icon}}'></i>
            <h3>{{trust.title}}</h3>
            <p>{{trust.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>


<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="캐빗의  새로운 이야기들" tagline="Recent Stories" color="#000" tag_color="#9B9B9B" %}
      <div class='two spacing'></div>
    </div>
  </div>

  <div class='row'>
    {% for post in site.posts %}
      {% unless post.categories contains 'notice' %}{% continue %}{% endunless %}
      {% if forloop.index > 3 %}
        {% break %}
      {% endif %}

      <div class='large-4 medium-4 columns'>
        <div class='mod modBlogPost'>
          {% for image in post.images %}
            {% unless forloop.first %}
              {% break %}
            {% endunless %}
            <a href="{{ post.url }}"><img alt="" src="{{ image | prepend: site.baseurl }}" /></a>
          {% endfor %}
          <div class='content'>
            <p class='date'>{{post.date | date: "%Y-%m-%d" }}</p>
            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <p>{{post.excerpt}}</p>
          </div>
        </div>
      </div>

    {% endfor %}

  </div>


  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <a class='button' href='{{ "/notice" | preprend: site.baseurl }}'>공지사항 더 보기</a>
      </p>
    </div>
  </div>
  <div class='two spacing'></div>

</div>



<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="카니자랩" tagline="to connect people on Earth and help them<br />trust enough to go together" color="#000" tag_color="#9B9B9B" %}
      <div class='spacing'></div>
      <div class="centered-text">
        카니자랩은 다양한 정형/비정형 데이터를 바탕으로 눈에 보이지 않던 새로운 가치를 발굴하여 세상에 제시하는 기술회사입니다.<br/>온라인-오프라인 데이터 분석과 가치 창조의 미션을 가지고 O2O 서비스에 집중하고 있습니다.
      </div>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for member in site.data.members %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            {% include img.html name=member.avatar extension="jpg" %}
            <div class='overlay'>
              <a class='intro' href="{{ member.link }}" target="_blank">
                <h3>{{ member.name }}</h3>
                <p>{{ member.position }}</p>
              </div>
            </a>
          </div>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
