<footer id="footer" class="site-footer card dark-green">

  <div class="card-content">

    <div class="card-row">
      <div class="card-column gutter caption">
        <span>주식회사 카니자랩</span>
      </div>
    </div>

    <div class="card-row">
      <div class="card-column gutter caption">
        <span>{{ site.copyright }}</span>
      </div>
    </div>

    <div class="card-row">
      <div class="card-column gutter caption">
        <ul class="horizontal-inline no-bullet no-padding no-margin">
          <li>
            <span><a href="/policy/terms.html">이용약관</a></span>
          </li>
          <li>
            <span><a href="/policy/location.html">위치기반서비스 이용약관</a></span>
          </li>
          <li>
            <span><a href="/policy/privacy.html">개인정보취급방침</a></span>
          </li>
          <li>
            <span><a href="/policy/privacy-consignment.html">개인정보 취급 위탁</a></span>
          </li>
        </ul>
      </div>
    </div>

    <div class="card-row">
      <div class="card-column gutter caption">
        <ul class="horizontal-inline no-bullet no-padding no-margin">
          <li>
            <span>사업자등록번호: 359-87-00053</span>
          </li>
          <li>
            <span>통신판매업 신고번호: 2015-서울서초-0985호</span>
          </li>
          <li>
            <span>대표자: 박자람</span>
          </li>
          <li>
            <span>개인정보관리책임자: 윤제상 (yoonjs2@kanizsalab.com)</span>
          </li>
          <li>
            <span>주소: 서울특별시 서초구 서초대로78길 50, LS-612호 (서초동, 우영빌딩)</span>
          </li>
          <li>
            <span>대표전화(고객만족센터): 1661-2365</span>
          </li>
          <li>
            <span>이메일: <a href="mailto:{{ site.email }}">{{ site.email }}</a></span>
          </li>
        </ul>
      </div>
    </div>

  </div>

</footer>
