<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="apple-itunes-app" content="app-id=1061135784">
  <meta name="google-play-app" content="app-id=io.cabbit">

  <!-- Start SmartBanner configuration -->
  <meta name="smartbanner:title" content="캐빗(Cabbit)">
  <meta name="smartbanner:author" content="Kanizsa Lab">
  <meta name="smartbanner:price" content="무료">
  <meta name="smartbanner:price-suffix-apple" content=" - App Store에서 다운로드">
  <meta name="smartbanner:price-suffix-google" content=" - Google Play에서 다운로드">
  <meta name="smartbanner:icon-apple" content="http://a4.mzstatic.com/us/r30/Purple71/v4/36/cd/12/36cd1228-362f-bfa6-3456-b89fe24c072e/icon100x100.png">
  <meta name="smartbanner:icon-google" content="https://lh3.googleusercontent.com/TqaOCVY-FOqBHU1V43Q9EOeyxPvXq6OPePZYh7QCX1ukYrj2g7duTs5hIq4AR-hzTA=w100">
  <meta name="smartbanner:button" content="보기">
  <meta name="smartbanner:button-url-apple" content="cabbit://home">
  <meta name="smartbanner:button-url-google" content="cabbit://home">
  <!-- End SmartBanner configuration -->

  <meta name="google-site-verification" content="8ngKcZov2d558kQ9oIYya-F-zZan-DWMPV51fMjxoI8" />
  <meta name="naver-site-verification" content="93e5ad7079026faafd33a7f7ed310f172a496bfe"/>

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/foundation.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/fontello.css" | prepend: site.baseurl }}">
  <!-- <link rel="stylesheet" href="{{ "/css/font-awesome.css" | prepend: site.baseurl }}"> -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/smartbanner.min.css" | prepend: site.baseurl }}">
  {% if page.css %}
    {% for css in page.css %}
    <link rel="stylesheet" href="/css/{{ css }}.css" media="screen" type="text/css">
    {% endfor %}
  {% endif %}

  <script src="{{ "/javascripts/libs.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script>
    // terrificjs bootstrap
    (function($) {
        $(document).ready(function() {
            var $page = $('body');
            var config = {
              dependencyPath: {
                plugin: 'javascripts/'
              }
            }
            var application = new Tc.Application($page, config);
            application.registerModules();
            application.start();
        });
    })(Tc.$);
  </script>
  <script type="text/javascript">
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
  analytics.load("aLAJl4qT3ijSSFOPC1dZbawwi0LQ2Tcg");
  analytics.page()
  }}();
  </script>
  <script type="text/javascript" src="http://wcs.naver.net/wcslog.js"></script>
  <script type="text/javascript"> if(!wcs_add) var wcs_add = {}; wcs_add["wa"] = "994a78f542e2ec"; wcs_do(); </script>
  <script src="{{ "/javascripts/masonry.pkgd.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/javascripts/imagesloaded.pkgd.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/javascripts/slick.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/javascripts/json2.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script>
    document.createElement( "picture" );
  </script>
  <script src="{{ "/javascripts/picturefill.min.js" | prepend: site.baseurl }}" type="text/javascript" async></script>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  {% if page.javscripts %}
    {% for javascript in page.javscripts %}
    <script src='/javascripts/{{ javascript }}.js' type="text/javascript"></script>
    {% endfor %}
  {% endif %}
  </head>
