---
layout: default
title: 공지사항
category: notice
show_in_navigation: true
---

<div class="card">
  <div class="card-content">
    <div class="card-row">
      <div class="card-column">
        <h2 class="title no-margin">공지사항</h2>
      </div>
    </div>
  </div>
</div>

{% if site.posts.count > 0 %}
{% for post in site.posts %}
  {% if post.categories contains 'notice' %}
  <hr />

	<div class="post card notice">
    <div class="card-content">
      <div class="card-row">
        <div class="card-column">
          <h3 class="title no-margin"><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <p class="post-meta">
            <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">작성일: {{ post.date | date: "%Y-%m-%d" }}</time>
            {% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}
          </p>
        </div>
      </div>
      <div class="card-row">
        <div class="card-column entry">
          {{ post.content | strip_html | truncatewords: 100 }}
        </div>
      </div>
    </div>
	</div>
  {% endif %}
{% endfor %}
{% else %}
  <hr />

  <div class="post card">
    <div class="card-content">
      <div class="card-row">
        <div class="card-column">
          <p>
            등록된 글이 없습니다.
          </p>
        </div>
      </div>
    </div>
	</div>
{% endif %}
