---
layout: notice
title: "캐빗의  새로운 이야기들"
section_id: notice
---

{% for post in paginator.posts %}{% if post.categories contains 'notice' %}
  <div class='row big mod modBlogPost'>
    <div class='large-3 medium-3 columns images'>
      {% for image in post.images %}
        <div class='image'><img alt="" src="{{ image | prepend: site.baseurl }}" /></div>
      {% endfor %}
    </div>
    <div class='large-9 medium-9 columns content'>
      <p class='info'>
        <span>{{post.date | date: "%Y-%m-%d" }}</span>
      </p>
      <h3><a href="{{ post.url }}">{{post.title}}</a></h3>
      <p>{{ post.excerpt }}</p>
      <div class='spacing'></div>
      <a class="button small" href="{{ post.url }}">더 보기</a>
    </div>
  </div>
{% endif %}{% endfor %}
