---
layout: notice
section_id: notice
---


<div class='row'>
  <div class='large-12 columns'>
    <div class='mod modBlogPost big'>
      <div class='content'>
        <p class='info'>
          <span>{{page.date | date: "%Y-%m-%d" }}</span>
        </p>
        <h3>{{page.title}}</h3>
        {{ content }}
      </div>
      <div class='images-noslide'>
        {% for image in page.images %}
          <div class='image'><img alt="" src="{{ image | prepend: site.baseurl }}" /></div>
        {% endfor %}
      </div>
    </div>
    <div class='four spacing'></div>
  </div>
</div>
